@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass: rgba(255, 255, 255, 0.06);
}



/* neon glow utility */
.glow {
  text-shadow: 0 0 6px rgba(64, 207, 255, 0.16),
    0 0 20px rgba(64, 207, 255, 0.06);
}

.card-glass {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.03),
    rgba(255, 255, 255, 0.02)
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}
